.about {
  background-color: #000;
  display: flex;
  justify-content: center;
  position: relative;
  color: #fff;

  justify-content: center;

  display: flex;
  flex-direction: column;
  align-items: center;

  .about__header {
    background-image: url("/images/about/top.png") !important;
    background-repeat: no-repeat;
    background-position-x: right;
    height: 1000px;

    @include respond("mobile") {
      background-image: unset;
      height: unset;
    }

    .mid-container {
      width: 500px;

      @include respond("mobile") {
        width: unset;
      }
    }
  }

  & > .header {
    width: 1200px;

    @include respond("mobile") {
      width: unset;
    }
  }

  .jumbotron {
    position: relative;
    z-index: 1;
    padding: 240px 140px 320px;
    margin-bottom: 80px;

    @include respond("tablet") {
      padding-left: $app-side-padding-tablet;
      padding-right: $app-side-padding-tablet;
    }

    @include respond("mobile") {
      padding-top: 120px;
      padding-left: $app-side-padding-mobile;
      padding-right: $app-side-padding-mobile;
      padding-bottom: calc(100vw - 0px);
    }

    .hex {
      position: absolute;
      left: 55vw;
      bottom: -5vw;
      transform: rotate(128.4deg);

      img {
        max-width: 931.54px;
      }

      &::before {
        position: absolute;
        top: 0;
        left: 0;
        content: "";
        display: block;
        width: 100%;
        height: 100%;
        background: linear-gradient(
          0deg,
          rgba(0, 0, 0, 0) 0%,
          rgba(0, 0, 0, 1) 100%
        );
      }

      @include respond("mobile") {
        top: unset;
        bottom: -15vw;
        left: 50vw;

        img {
          width: 100vw;
        }
      }
    }

    .title {
      font-family: "NeueMachinaMedium";
      font-size: 58px;
      font-weight: 400;
      line-height: 64px;
      letter-spacing: 0.01em;
      text-align: left;

      @include respond("tablet") {
        font-size: 40px;
      }

      @include respond("mobile") {
        font-size: 32px;
      }
    }

    .description {
      font-family: "NotoSansLight";
      font-size: 24px;
      font-weight: 300;
      line-height: 36px;
      letter-spacing: 0em;
      text-align: left;
      max-width: 691px;

      margin-top: 70px;
      display: flex;
      flex-direction: column;
      gap: 15px;

      @include respond("tablet") {
        font-size: 20px;
        line-height: 32px;
        padding-left: 0;
      }

      @include respond("mobile") {
        font-size: 20px;
        line-height: 32px;
      }
    }
  }

  .team {
    max-width: 1200px;
    width: 100%;
    position: relative;
    z-index: 1;
    padding: 0 140px 320px;
    display: flex;
    flex-direction: column;
    gap: 80px;

    @include respond("tablet") {
      padding-left: $app-side-padding-tablet;
      padding-right: $app-side-padding-tablet;
    }

    @include respond("mobile") {
      padding-bottom: 30px;
      padding-left: $app-side-padding-mobile;
      padding-right: $app-side-padding-mobile;
    }

    .title {
      padding-top: 30px;
      max-width: 100%;
      border-top: 1px solid #fff;

      font-family: "NeueMachinaMedium";
      font-size: 44px;
      font-weight: 400;
      line-height: 53px;
      letter-spacing: 0.03em;
      text-align: left;

      @include respond("tablet") {
        font-size: 40px;
      }

      @include respond("mobile") {
        font-size: 32px;
      }
    }

    .members {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
      gap: 80px 32px;
    }

    .member {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;

      .info {
        padding: 16px;
      }

      .avatar {
        position: relative;
        height: 100%;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;

          @include respond("mobile") {
            object-fit: cover;
            object-position: top;
          }
        }
      }

      .name {
        font-family: "Noto Sans";
        font-size: 24px;
        font-weight: 600;
        line-height: 31px;
        letter-spacing: 0em;
        text-align: left;

        @include respond("mobile") {
          font-size: 20px;
        }
      }

      .role {
        font-family: "Noto Sans";
        font-size: 18px;
        font-weight: 400;
        line-height: 25px;
        letter-spacing: 0em;
        text-align: left;

        margin-bottom: 24px;

        @include respond("mobile") {
          font-size: 14px;
        }
      }

      .links {
        display: flex;
        gap: 16px;

        img {
          @include respond("mobile") {
            width: 30px;
            height: 30px;
          }
        }
      }

      .description {
        opacity: 0;
        position: absolute;
        top: 0;
        height: 100%;
        padding: 27px 15px 64px 25px;
        background-color: #141c26d9;
        box-sizing: border-box;
        transition: 0.3s opacity ease-in-out;

        font-family: "Noto Sans";
        font-size: 12px;
        font-weight: 500;
        line-height: 22px;
        letter-spacing: 0em;
        text-align: left;

        @include respond("mobile") {
          font-size: 14px;
          line-height: 21px;
        }
      }

      &:hover .description {
        opacity: 1;
      }
    }
  }

  .about-section {
    margin: 20px 140px 0 140px;
    width: unset;

    @include respond("mobile") {
      margin: 20px 50px 0 50px;
    }
  }

  .our-story {
    max-width: 1200px;
    position: relative;
    padding-bottom: 180px;
    margin: 20px 140px 0 140px;
    border-top: 1px solid #fff;

    &__content {
      display: flex;
      justify-content: space-between;
      @include respond("mobile") {
        flex-direction: column;
      }
    }

    @include respond("tablet") {
      margin-left: $app-side-padding-tablet;
      margin-right: $app-side-padding-tablet;
    }

    @include respond("mobile") {
      margin-left: $app-side-padding-mobile;
      margin-right: $app-side-padding-mobile;
    }

    &__section {
      font-family: "Noto Sans";
      font-size: 24px;
      font-weight: 300;
      line-height: 150%;

      letter-spacing: 0em;
      text-align: left;
      color: #d1d5db;
      flex: 1;

      &:last-child {
        display: flex;
        align-items: center;
      }

      img {
        margin-left: 60px;

        @include respond("mobile") {
          padding-top: 50px;
          margin: 0 auto;
          width: 80%;
          display: block;
        }
      }

      @include respond("mobile") {
        width: 100%;
        font-size: 20px;
        line-height: 21px;
      }
    }

    &__title {
      max-width: 947px;
      padding-top: 30px;
      margin-bottom: 80px;

      color: var(--white, #fff);

      /* Desktop/Header 2 */
      font-family: "NeueMachinaMedium";
      font-size: 44px;
      font-style: normal;
      font-weight: 400;
      line-height: 120%; /* 52.8px */
      letter-spacing: 1.32px;

      @include respond("mobile") {
        font-size: 32px;
      }
    }
  }

  .pattern-wave {
    position: absolute;
    bottom: 250px;
    width: 140vw;
    right: -35vw;
    transform: rotate(-5deg);

    @include respond("tablet") {
      padding: 0;
    }

    @include respond("mobile") {
      padding: 0;
      bottom: 720px;
    }

    img {
      width: 100%;
    }
  }

  .spacer {
    height: 630px;
    width: 100%;
    @include respond("mobile") {
      height: 0;
    }
  }

  .values {
    display: flex;
    max-width: 1200px;
    gap: 20px;
    margin-bottom: 120px;
    align-items: flex-end;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    position: relative;
    opacity: 1;
    @include respond("mobile") {
     flex-direction: column;
    }


    .value {
      padding: 37px;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      width: 300px;

      &__title {
        font-family: "NeueMachinaMedium";
        font-size: 28px;
        font-style: normal;
        font-weight: 400;
        margin-bottom: 16px;
      }

      &__subtitle {
        font-family: "Noto Sans";
        font-size: 18px;
        line-height: 140%;
        font-style: normal;
        font-weight: 400;
      }

      &:nth-child(1) {
        height: 475px;
        background-image: url("/images/about/about_culture_img1.png");
      }

      &:nth-child(2) {
        height: 570px;
        background-image: url("/images/about/about_culture_img2.png");
      }

      &:nth-child(3) {
        height: 660px;
        background-image: url("/images/about/about_culture_img3.png");
      }

      &:nth-child(4) {
        height: 755px;
        background-image: url("/images/about/about_culture_img4.png");
      }

      @include respond("mobile") {
        &:nth-child(1),
        &:nth-child(2),
        &:nth-child(3),
        &:nth-child(4) {
          height: auto;
          width: auto;
          box-sizing: border-box;
          position: relative;
          border-radius: 16px;
          border: 1.5px solid var(--Colors-Gray-Gray-600, #4b5563);
          background: linear-gradient(
                          93deg,
                          rgba(48, 17, 241, 0.16) -8.68%,
                          rgba(83, 85, 233, 0.16) 11.72%,
                          rgba(116, 150, 225, 0.16) 38.64%,
                          rgba(134, 186, 221, 0.16) 65.85%,
                          rgba(152, 222, 217, 0.16) 87.98%
          ),
          #000;
        }

        &__title {
          font-size: 20px;
        }

        &__subtitle {
          font-size: 14px;
        }
      }
    }
  }




  .footer {
    padding-left: $app-side-padding-desktop;
    padding-right: $app-side-padding-desktop;

    @include respond("tablet") {
      padding-left: $app-side-padding-tablet;
      padding-right: $app-side-padding-tablet;
    }

    @include respond("mobile") {
      padding-left: $app-side-padding-mobile;
      padding-right: $app-side-padding-mobile;
    }
  }
}
