.about {
  background-color: #000;
  display: flex;
  justify-content: center;
  position: relative;
  color: #fff;

  justify-content: center;

  display: flex;
  flex-direction: column;
  align-items: center;

  .about__header {
    background-image: url("/images/about/top.png") !important;
    background-repeat: no-repeat;
    background-position-x: right;
    height: 700px;
  }

  & > .header {
    width: 1200px;

    @include respond("mobile") {
      width: unset;
    }
  }

  .jumbotron {
    position: relative;
    z-index: 1;
    padding: 240px 140px 320px;
    margin-bottom: 80px;

    @include respond("tablet") {
      padding-left: $app-side-padding-tablet;
      padding-right: $app-side-padding-tablet;
    }

    @include respond("mobile") {
      padding-top: 120px;
      padding-left: $app-side-padding-mobile;
      padding-right: $app-side-padding-mobile;
      padding-bottom: calc(100vw - 0px);
    }

    .hex {
      position: absolute;
      left: 55vw;
      bottom: -5vw;
      transform: rotate(128.4deg);

      img {
        max-width: 931.54px;
      }

      &::before {
        position: absolute;
        top: 0;
        left: 0;
        content: "";
        display: block;
        width: 100%;
        height: 100%;
        background: linear-gradient(
          0deg,
          rgba(0, 0, 0, 0) 0%,
          rgba(0, 0, 0, 1) 100%
        );
      }

      @include respond("mobile") {
        top: unset;
        bottom: -15vw;
        left: 50vw;

        img {
          width: 100vw;
        }
      }
    }

    .title {
      font-family: "NeueMachinaMedium";
      font-size: 58px;
      font-weight: 400;
      line-height: 64px;
      letter-spacing: 0.01em;
      text-align: left;

      @include respond("tablet") {
        font-size: 40px;
      }

      @include respond("mobile") {
        font-size: 32px;
      }
    }

    .description {
      font-family: "NotoSansLight";
      font-size: 24px;
      font-weight: 300;
      line-height: 36px;
      letter-spacing: 0em;
      text-align: left;
      max-width: 691px;

      margin-top: 70px;
      display: flex;
      flex-direction: column;
      gap: 15px;

      @include respond("tablet") {
        font-size: 20px;
        line-height: 32px;
        padding-left: 0;
      }

      @include respond("mobile") {
        font-size: 20px;
        line-height: 32px;
      }
    }
  }

  .team {
    max-width: 1200px;
    width: 100%;
    position: relative;
    z-index: 1;
    padding: 0 140px 320px;
    display: flex;
    flex-direction: column;
    gap: 80px;

    @include respond("tablet") {
      padding-left: $app-side-padding-tablet;
      padding-right: $app-side-padding-tablet;
    }

    @include respond("mobile") {
      padding-bottom: 30px;
      padding-left: $app-side-padding-mobile;
      padding-right: $app-side-padding-mobile;
    }

    .title {
      padding-top: 30px;
      max-width: 100%;
      border-top: 1px solid #fff;

      font-family: "NeueMachinaMedium";
      font-size: 44px;
      font-weight: 400;
      line-height: 53px;
      letter-spacing: 0.03em;
      text-align: left;

      @include respond("tablet") {
        font-size: 40px;
      }

      @include respond("mobile") {
        font-size: 32px;
      }
    }

    .members {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
      gap: 80px 32px;
    }

    .member {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;

      .info {
        padding: 16px;
      }

      .avatar {
        position: relative;
        height: 100%;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;

          @include respond("mobile") {
            object-fit: cover;
            object-position: top;
          }
        }
      }

      .name {
        font-family: "Noto Sans";
        font-size: 24px;
        font-weight: 600;
        line-height: 31px;
        letter-spacing: 0em;
        text-align: left;

        @include respond("mobile") {
          font-size: 20px;
        }
      }

      .role {
        font-family: "Noto Sans";
        font-size: 18px;
        font-weight: 400;
        line-height: 25px;
        letter-spacing: 0em;
        text-align: left;

        margin-bottom: 24px;

        @include respond("mobile") {
          font-size: 14px;
        }
      }

      .links {
        display: flex;
        gap: 16px;

        img {
          @include respond("mobile") {
            width: 30px;
            height: 30px;
          }
        }
      }

      .description {
        opacity: 0;
        position: absolute;
        top: 0;
        height: 100%;
        padding: 27px 15px 64px 25px;
        background-color: #141c26d9;
        box-sizing: border-box;
        transition: 0.3s opacity ease-in-out;

        font-family: "Noto Sans";
        font-size: 12px;
        font-weight: 500;
        line-height: 22px;
        letter-spacing: 0em;
        text-align: left;

        @include respond("mobile") {
          font-size: 14px;
          line-height: 21px;
        }
      }

      &:hover .description {
        opacity: 1;
      }
    }
  }

  .our-story {
    max-width: 1200px;
    position: relative;
    padding-bottom: 180px;
    margin: 20px 140px 0 140px;
    border-top: 1px solid #fff;

    &__content {
      display: flex;
      justify-content: space-between;
      @include respond("mobile") {
        flex-direction: column;
      }
    }

    @include respond("tablet") {
      margin-left: $app-side-padding-tablet;
      margin-right: $app-side-padding-tablet;
    }

    @include respond("mobile") {
      margin-left: $app-side-padding-mobile;
      margin-right: $app-side-padding-mobile;
    }

    &__section {
      font-family: "Noto Sans";
      font-size: 24px;
      font-weight: 300;
      line-height: 36px;
      letter-spacing: 0em;
      text-align: left;
      color: #d1d5db;
      flex: 1; /* Each column takes up equal space */

      &:last-child {
        display: flex;
        align-items: center;
      }

      img {
        margin-left: 60px;

        @include respond("mobile") {
          padding-top: 50px;
          margin: 0 auto;
          width: 80%;
          display: block;
        }
      }

      @include respond("mobile") {
        width: 100%;
        font-size: 20px;
        line-height: 21px;
      }
    }

    &__title {
      max-width: 947px;
      padding-top: 30px;
      margin-bottom: 80px;

      color: var(--white, #fff);

      /* Desktop/Header 2 */
      font-family: "NeueMachinaMedium";
      font-size: 44px;
      font-style: normal;
      font-weight: 400;
      line-height: 120%; /* 52.8px */
      letter-spacing: 1.32px;

      @include respond("mobile") {
        font-size: 32px;
      }
    }
  }

  .footer {
    padding-left: $app-side-padding-desktop;
    padding-right: $app-side-padding-desktop;

    @include respond("tablet") {
      padding-left: $app-side-padding-tablet;
      padding-right: $app-side-padding-tablet;
    }

    @include respond("mobile") {
      padding-left: $app-side-padding-mobile;
      padding-right: $app-side-padding-mobile;
    }
  }
}
