.culture-item {
  padding: 1rem;
  margin-bottom: 1rem;
  background-color: #131313;
  border-radius: 16px;

  &__title {
    font-family: NeueMachinaMedium;
    font-weight: 400;
    font-size: 32px;
    line-height: 100%;
    letter-spacing: 0%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(
      145.39deg,
      #fff625 -13.26%,
      #ccea7f 15.7%,
      #a7e2be 55.24%,
      #98ded9 93.66%
    );
    margin-bottom: 32px;
  }

  &__text {
    font-family: Open Sans;
    font-weight: 300;
    font-size: 22px;
    line-height: 33px;
    letter-spacing: 0%;
  }
}
