.case-logos {
  display: flex;
  gap: 20px;
  align-items: center;

  color: #fff;
  font-family: Inter;
  font-size: 18.5px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;


  @include respond("mobile") {
    gap: 20px;
    font-size: 18px;
    justify-content: flex-start;
    transform: scale(0.8);
    margin-left: -10%;
  }

}
