.hex,
.circle,
.funded-by__pattern-wave {
  pointer-events: none;
  user-select: none;
}

.landing2 {
  background: #000;
  color: #fff;
  scroll-behavior: smooth;
  position: relative;

  display: flex;
  justify-content: center;

  .landing-short-summary {
    z-index: 100000;
    position: relative;
    top: -380px;
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 40px 10% 40px 10%;
    //height: 199px;
    background: linear-gradient(
        93deg,
        rgba(48, 17, 241, 0.2) -8.68%,
        rgba(83, 85, 233, 0.2) 11.72%,
        rgba(116, 150, 225, 0.2) 38.64%,
        rgba(134, 186, 221, 0.2) 65.85%,
        rgba(152, 222, 217, 0.2) 87.98%
      ),
      #000;

    .landing-short-summary-item {
      flex: 1;
      padding-left: 20px;
      border-left: 1px solid;
      border-image: linear-gradient(to bottom, #49fbdf, #737373) 1;

      &__title {
        font-size: 24px;
        font-family: "NeueMachinaMedium";
      }

      &__text {
        font-family: "NotoSansLight";
        font-size: 16px;
        font-weight: 300;
        line-height: 25px;
      }
    }

    @include respond("mobile") {
      flex-direction: column;
      gap: 50px;
      top: -100px;
    }
  }

  .dashboard {
    position: relative;
    left: 484px;
    z-index: 1000;

    @include respond("mobile") {
      left: unset;
      width: 100%;
    }
  }

  .container {
    box-sizing: border-box;
    width: 100%;
    max-width: 1440px;
  }

  .circle {
    position: absolute;
    top: 0px;
    left: 45vw;

    @include respond("tablet") {
      top: 500px;
      right: -540px;

      img {
        width: 930px;
      }
    }

    @include respond("mobile") {
      top: unset;
      left: 50vw;

      img {
        width: 100vw;
      }
    }
  }

  .jumbotron {
    position: relative;
    z-index: 1;
    padding: 255px 140px 400px;

    padding-left: $app-side-padding-desktop;
    padding-right: 375px;

    @include respond("tablet") {
      padding-top: 150px;
      padding-bottom: 800px;
      font-size: 20px;
      padding-left: $app-side-padding-tablet;
      padding-right: $app-side-padding-tablet;
    }

    @include respond("mobile") {
      padding-top: 120px;
      font-size: 18px;
      padding-bottom: calc(100vw - 160px);
      padding-left: $app-side-padding-mobile;
      padding-right: $app-side-padding-mobile;
    }

    .title {
      max-width: 800px;
      margin-bottom: 32px;

      font-family: "NeueMachinaMedium";
      font-size: 58px;
      font-weight: 400;
      line-height: 1.3;
      letter-spacing: 0.01em;
      text-align: left;

      @include respond("tablet") {
        width: 100%;
        font-size: 40px;
      }

      @include respond("mobile") {
        font-size: 32px;
      }

      .nowrap {
        white-space: nowrap;
      }
    }

    .description {
      position: relative;
      z-index: 1;
      max-width: 691px;

      font-family: "NotoSansLight";
      font-size: 26px;
      font-weight: 300;
      line-height: 39px;
      letter-spacing: 0em;
      text-align: left;

      @include respond("tablet") {
        width: 100%;
        line-height: 1.6;
        font-size: 24px;
      }

      @include respond("mobile") {
        width: 90%;
        line-height: 32px;
        font-size: 20px;
      }
    }
  }

  .mission {
    position: relative;
    z-index: 1;
    margin: 0 140px;
    margin-top: 160px;
    padding-bottom: 160px;
    border-top: 1px solid #fff;

    @include respond("tablet") {
      margin-left: $app-side-padding-tablet;
      margin-right: $app-side-padding-tablet;
      padding-bottom: 75px;
    }

    @include respond("mobile") {
      margin-left: $app-side-padding-mobile;
      margin-right: $app-side-padding-mobile;
    }

    .title {
      margin-top: 30px;

      font-family: "NeueMachinaMedium";
      font-size: 44px;
      font-weight: 400;
      letter-spacing: 0.03em;
      text-align: left;

      @include respond("tablet") {
        font-size: 40px;
      }

      @include respond("mobile") {
        font-size: 32px;
      }
    }

    .paragraph {
      margin-top: 80px;
      padding-left: 304px;

      font-family: "NotoSansLight";
      font-size: 26px;
      font-weight: 400;
      line-height: 39px;
      letter-spacing: 0em;
      text-align: left;

      @include respond("tablet") {
        font-size: 20px;
        line-height: 32px;
        padding-left: 0;
      }
    }
  }

  .personalized {
    position: relative;
    z-index: 1;
    margin: 0 140px;
    margin-top: 160px;
    padding-bottom: 160px;
    border-top: 1px solid #fff;

    @include respond("tablet") {
      margin-left: $app-side-padding-tablet;
      margin-right: $app-side-padding-tablet;
      padding-bottom: 75px;
    }

    @include respond("mobile") {
      margin-left: $app-side-padding-mobile;
      margin-right: $app-side-padding-mobile;
    }

    .gradient-blue {
      position: absolute;
      right: 15vw;
      top: -50px;
      pointer-events: none;

      @include respond("tablet") {
        top: unset;
        bottom: -40%;
      }
    }

    .hex {
      img {
        width: min(1367px, 100vw);
      }
      position: absolute;
      pointer-events: none;
      user-select: none;
      top: 200px;
      width: max(1367px, 100vw);
      left: min(-900px, -50vw);

      @include respond("tablet") {
        position: relative;
        top: unset;
        left: unset;
        width: 100%;
        right: 50%;
        margin-bottom: -160px;
      }
    }

    .title {
      margin-top: 30px;
      font-family: "NeueMachinaMedium";
      font-size: 44px;
      font-weight: 400;
      text-align: left;

      @include respond("tablet") {
        font-size: 40px;
        line-height: 1;
      }

      @include respond("mobile") {
        font-size: 32px;
      }
    }

    .paragraph {
      margin: 160px 0;
      padding-left: 304px;

      font-family: "NotoSansLight";
      font-size: 26px;
      font-weight: 400;
      line-height: 39px;
      letter-spacing: 0em;
      text-align: left;

      @include respond("tablet") {
        font-size: 20px;
        line-height: 32px;
        margin-top: 80px;
        margin-bottom: 80px;
        padding-left: 0;
      }

      @include respond("mobile") {
      }
    }

    .small-title {
      text-transform: uppercase;
      margin-bottom: 30px;
      padding-left: 500px;

      font-family: "NeueMachinaRegular";
      letter-spacing: 1.6px;
      font-size: 28px;
      font-weight: 400;

      @include respond("tablet") {
        font-size: 20px;
        line-height: 32px;
        margin-top: 80px;
        padding-left: 0;
        margin-bottom: 27px;
      }

      @include respond("mobile") {
      }
    }

    .small-paragraph {
      margin-bottom: 160px;
      padding-left: 500px;
      max-width: 100%;

      font-family: "NotoSansLight";
      font-size: 18px;
      font-weight: 300;
      line-height: 27px;
      letter-spacing: 0em;
      text-align: left;

      @include respond("tablet") {
        font-size: 18px;
        line-height: 28.8px;
        width: 100%;
        padding-left: 0;
        margin-bottom: 80px;
      }

      @include respond("mobile") {
      }
    }
  }

  .news-land {
    padding: 0 140px;

    @include respond("tablet") {
      padding-left: $app-side-padding-tablet;
      padding-right: $app-side-padding-tablet;
    }

    @include respond("mobile") {
      padding-left: $app-side-padding-mobile;
      padding-right: $app-side-padding-mobile;
    }
  }

  .funded-land {
    padding: 0 140px;

    @include respond("tablet") {
      padding-left: $app-side-padding-tablet;
      padding-right: $app-side-padding-tablet;
    }

    @include respond("mobile") {
      padding-left: $app-side-padding-mobile;
      padding-right: $app-side-padding-mobile;
    }
  }

  .footer {
    padding-left: $app-side-padding-desktop;
    padding-right: $app-side-padding-desktop;

    @include respond("tablet") {
      padding-left: $app-side-padding-tablet;
      padding-right: $app-side-padding-tablet;
    }

    @include respond("mobile") {
      padding-left: $app-side-padding-mobile;
      padding-right: $app-side-padding-mobile;
    }
  }
}
