._landing {
  max-width: 100vw;
  overflow-x: hidden;
  scroll-behavior: smooth;
  color: #fff;
  font-size: 24px;
  background: #000;

  display: flex;
  justify-content: center;

  .container {
    width: 1440px;
    box-sizing: border-box;
    padding-left: $app-side-padding-desktop;
    padding-right: $app-side-padding-desktop;

    @include respond('tablet') {
      font-size: 20px;
      padding-left: $app-side-padding-tablet;
      padding-right: $app-side-padding-tablet;
    }
  
    @include respond('mobile') {
      font-size: 18px;
      padding-left: $app-side-padding-mobile;
      padding-right: $app-side-padding-mobile;
    }
  }
}
