.landing {
  position: relative;
  display: grid;
  grid-template-columns: 65vw 35vw;
  margin-bottom: -250px;

  @include respond('smallDesktop') {
    margin-bottom: 100px;
  }

  @include respond('tablet') {
    display: block;
    margin-bottom: 0;
  }

  &__header {
    font-family: 'NeueMachinaMedium';
    font-size: 58px;
    line-height: 1.3;    
    margin-top: 330px;
    margin-bottom: 30px;

    @include respond('tablet') {
      width: 100%;
      margin-top: 150px;
      font-size: 40px;
    }

    @include respond('mobile') {
      margin-top: 150px;
      font-size: 32px;
    }
  }

  &__desc {
    line-height: 1.6;
    width: 70%;

    @include respond('tablet') {
      width: 100%;
    }

    @include respond('mobile') {
      width: 90%;
    }
  }

  &__pattern-circle {
    position: relative;
    width: 1500px;
    left: -25vw;

    @include respond('tablet') {
      width: 100vw;
      left: 50vw;
    }

    @include respond('mobile') {
      width: 120vw;
      left: 40vw;
    }
  }
}