.matrix-of-cards {
  display: flex;
  flex-direction: column;
  gap: 20px;

  width: 100%;

  .cards-grid {
    display: grid;
    grid-template-columns: repeat(
      auto-fill,
      minmax(var(--card-min-width), 1fr)
    );
    gap: 24px;
    margin-top: 32px;
  }
}
