.short-description-list {
  z-index: 100000;
  position: relative;
  display: flex;
  justify-content: center;
  background: linear-gradient(
      93deg,
      rgba(48, 17, 241, 0.2) -8.68%,
      rgba(83, 85, 233, 0.2) 11.72%,
      rgba(116, 150, 225, 0.2) 38.64%,
      rgba(134, 186, 221, 0.2) 65.85%,
      rgba(152, 222, 217, 0.2) 87.98%
    ),
    #000;

  &__container {
    max-width: 1200px;
    justify-content: center;
    padding: 68px 10% 68px 10%;

    display: flex;
    justify-content: center;
    gap: 54px;

    &__title {
      font-family: "Noto Sans";
      font-size: 24px;
      font-style: normal;
      font-weight: 600;
      line-height: 130%;
    }

    &__description {
      font-family: "Noto Sans";
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      line-height: 150%; /* 30px */
    }

    &__list {
      display: flex;
      justify-content: center;
      &__item {
        flex: 1;
        padding-left: 20px;
        border-left: 1px solid;
        border-image: linear-gradient(to bottom, #49fbdf, #737373) 1;

        &__title {
          font-size: 24px;
          font-family: "NeueMachinaMedium";

          &.highlighted {
            font-size: 58px;
            background: var(
              --gradient,
              linear-gradient(
                180deg,
                #fff625 0%,
                #cbea7f 34.5%,
                #a7e2be 66.5%,
                #98ded9 100%
              )
            );
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
          }
        }

        &__text {
          font-family: "NotoSansLight";
          font-size: 16px;
          font-weight: 300;
          line-height: 25px;
        }
      }

      @include respond("mobile") {
        flex-direction: column;
        gap: 50px;
        // top: -100px;
      }
    }
  }
}
