.get-in-touch-page {
  background-color: #000;
  color: #fff;
  position: relative;
  display: flex;
  padding-bottom: 40px;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @include respond("mobile") {
    box-sizing: border-box;
    padding-right: 50px;
    padding-left: 50px;
  }

  &__title {
    margin-top: 147px;
    font-family: "NeueMachinaMedium";
    font-size: 58px;
    font-style: normal;
    font-weight: 400;
  }

  &__subtitle {
    color: var(--Text-Primary, #fff);
    font-family: "Noto Sans";
    font-size: 24px;
    font-weight: 300;
    margin-bottom: 80px;
    line-height: 130%;
  }

  & > .header {
    width: 1200px;
    @include respond("mobile") {
      width: unset;
    }
  }

  & > footer {
    max-width: 1200px;
    margin-top: 200px;
  }

  & > :nth-child(2) {
    flex: 1 1 auto;
  }

  .form-container {
    width: 360px;
    margin: 0 auto;
    border-radius: 8px;

    @include respond("mobile") {
      width: 100%;
    }

    &__elements {
      display: flex;
      flex-direction: column;
      gap: 25px;
    }

    &__send_button {
      display: flex;
      justify-content: center;

      button {
        width: 197px;
      }
    }
  }

  .form-group {
    margin-bottom: 1rem;
  }

  label {
    color: var(--colors-gray-dark-mode-100, #f3f4f6);
    font-family: "Open Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px; /* 142.857% */
    display: block;
    margin-bottom: 0.5rem;
  }

  input,
  textarea {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: white;
    font-family: "Open Sans";
    font-size: 14px;

    border-radius: 6px;
    border: 1px solid var(--Input-Outline, #59595f);
    background: var(--Suface-primary, #12121b);
    //  box-shadow: 0px 0px 6px 0px rgba(148, 213, 219, 0.25);

    &:focus {
      outline: none;
      border: 1px solid var(--Primary, #94d5db);
    }
  }

  .send_button {
    display: block;
    width: 100%;
    padding: 0.5rem;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: "Open Sans";
  }

  .send_button:hover {
    background-color: #0056b3;
  }

  .hex {
    img {
      width: min(1167px, 50vw);
    }
    position: absolute;
    pointer-events: none;
    user-select: none;
    top: 200px;
    width: max(1367px, 100vw);
    left: min(-450px, 80vw);

    @include respond("tablet") {
      display: none;
    }
  }

}
