.careers {
  background: #000;
  position: relative;
  overflow: hidden;
  
  display: flex;
  justify-content: center;

  .container {
    width: 1440px;
  }

  .header {
    padding: 60px 140px 40px 140px;

    @include respond('mobile') {
      padding-left: 32px;
      padding-right: 32px;
    }
  }

  .circle {
    position: absolute;
    top: 0px;
    left: 45vw;

    @include respond('tablet') {
      top: 500px;
      right: -540px;

      img {
        width: 930px;
      }
    }
  
    @include respond('mobile') {
      top: unset;
      bottom: -160px;
      left: 50vw;

      img {
        width: 100vw;
      }
    }
  }

  .jumbotron {
    position: relative;
    padding: 330px 502.467px 340px 139px;

    display: flex;
    flex-direction: column;
    gap: 32px;

    @include respond('tablet') {
      padding: 330px 121px 340px 121px;
    }

    @include respond('mobile') {
      padding: 120px 32px 340px 32px;
    }
    
    &__title {
      max-width: 798.533px;;
      color: var(--white, #FFF);
      font-family: 'NeueMachinaMedium';
      font-size: 58px;
      font-style: normal;
      font-weight: 400;
      line-height: 1.3;
      letter-spacing: 0.58px;

      z-index: 1;

      @include respond('mobile') {
        font-size: 32px;
      }
    }

    &__description {
      max-width: 691px;
      color: var(--white, #FFF);

      /* Desktop/Text Large */
      font-family: NotoSansLight;
      font-size: 26px;
      font-style: normal;
      font-weight: 300;
      line-height: 150%; /* 39px */

      z-index: 1;

      @include respond('mobile') {
        width: unset;
        line-height: 32px;
        font-size: 20px;
      }
    }
  }

  .jobs {
    position: relative;
    padding: 160px 140px;
    display: flex;
    flex-direction: column;
    gap: 100px;

    @include respond('mobile') {
      padding: 160px 32px;
    }

    &__title {
      padding-top: 30px;
      border-top: 1px solid #FFF;
      margin-bottom: 60px;

      color: var(--white, #FFF);

      /* Desktop/Header 2 */
      font-family: 'NeueMachinaMedium';
      font-size: 44px;
      font-style: normal;
      font-weight: 400;
      line-height: 120%; /* 52.8px */
      letter-spacing: 1.32px;

      @include respond('mobile') {
        font-size: 32px;
      }
  
    }

    .job {
      // width: 1200px;
      display: flex;
      gap: 32px;
      justify-content: space-between;

      
      @include respond('mobile') {
        flex-direction: column;
      }

      &__titles {
        display: flex;
        flex-direction: column;
        gap: 4px;
        padding-top: 8px;
      }

      &__title {
        overflow: hidden;
        text-overflow: ellipsis;
        font-family: 'NeueMachinaRegular';
        font-size: 26px;
        font-style: normal;
        font-weight: 400;
        line-height: 120%; /* 33.6px */
        letter-spacing: 1.56px;
        text-transform: uppercase;

        background: var(--Gradient-1, linear-gradient(145deg, #FFF625 -13.26%, #CBEA7F 15.7%, #A7E2BE 55.24%, #98DED9 93.66%));
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;

        @include respond('mobile') {
          font-size: 18px;
        }
      }

      &__sub-title {
        color: var(--white, #FFF);
        font-family: 'NotoSansItalic';
        font-size: 20px;
        font-style: italic;
        font-weight: 400;
        line-height: 150%; /* 39px */

        @include respond('mobile') {
          font-size: 16px;
        }
      }

      &__info {
        display: flex;
        flex-direction: column;
        gap: 24px;
      }

      &__description {
        max-width: 786px;

        color: var(--white, #FFF);

        /* Desktop/Text Large */
        font-family: Noto Sans;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%; /* 39px */

        
        @include respond('mobile') {
          width: unset;
          font-size: 16px;
        }
      }

      a {
        align-self: flex-start;
        text-decoration: none;
      }

      &__link {
        padding: 8px 24px;

        border-radius: 36px;
        border: 1px solid var(--Grey, #9E9E9E);

        color: var(--white, #FFF);
        font-family: Noto Sans;
        font-size: 18px;
        font-style: normal;
        font-weight: 300;
        line-height: 160%;  /* 28.8px */
        letter-spacing: 0.18px;

        @include respond('mobile') {
          width: unset;
          font-size: 14px;
        }
      }
    }
  }

  &__culture {
    border-top: 1px solid #fff;

    padding: 30px 0 160px;
    margin: 160px 140px 428px;

    color: var(--white, #FFF);

    /* Desktop/Text Large */
    font-family: 'NotoSansRegular';
    font-size: 26px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 39px */

    z-index: 1;

    &__info {
      margin-top: 30px;
      font-family: 'NotoSansRegular';
      font-size: 20px;
      color: #D1D5DB;
      line-height: 30px;
    }

    @include respond('mobile') {
      margin: 0px 32px;
      font-size: 14px;
    }

    a {
      color: white;
    }
  }

  .footer {
    padding: 107px 70px 80px;
  }
}
