.careers {
  background: #000;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  color: #fff;

  .container {
    width: 1440px;
  }

  & > .header {
    width: 1200px;

    @include respond("mobile") {
      width: unset;
    }
  }

  .circle {
    position: absolute;
    top: -50px;
    left: 49vw;
    z-index: -1;

    @include respond("tablet") {
      display: none;
    }

    @include respond("mobile") {
      display: none;
    }
  }

  .jumbotron {
    position: relative;
    z-index: 10;
    padding: 270px 121px 330px;
    display: flex;
    flex-direction: column;

    .title {
      margin-bottom: 32px;
      font-family: "NeueMachinaMedium";
      font-size: 58px;
      font-weight: 400;
      line-height: 64px;
      letter-spacing: 0.01em;
      text-align: left;
      max-width: 750px;
    }

    .description {
      max-width: 691px;
      width: 100%;
      font-family: "NotoSansLight";
      font-size: 24px;
      font-weight: 400;
      line-height: 39px;
      letter-spacing: 0em;
      text-align: left;
      margin-bottom: 250px;

      @include respond("mobile") {
        margin-bottom: 50px;
      }
    }

    @include respond("tablet") {
      padding: 280px 60px 60px;
    }

    @include respond("mobile") {
      padding: 120px 60px 60px;

      .title {
        font-family: "NeueMachinaMedium";
        font-size: 32px;
        font-weight: 400;
        line-height: 38px;
        text-align: left;
      }

      .description {
        font-family: "NotoSansLight";
        font-size: 20px;
        line-height: 32px;
        font-weight: 300;
        text-align: left;
      }
    }
  }

  .jobs {
    position: relative;
    padding: 160px 140px;
    display: flex;
    flex-direction: column;
    gap: 100px;

    @include respond("tablet") {
      padding: 160px 60px;
    }

    @include respond("mobile") {
      padding: 160px 60px;
    }

    &__title {
      padding-top: 30px;
      border-top: 1px solid #fff;
      margin-bottom: 60px;

      color: var(--white, #fff);

      /* Desktop/Header 2 */
      font-family: "NeueMachinaMedium";
      font-size: 44px;
      font-style: normal;
      font-weight: 400;
      line-height: 120%; /* 52.8px */
      letter-spacing: 1.32px;

      @include respond("mobile") {
        font-size: 32px;
      }
    }

    .job {
      // width: 1200px;
      display: flex;
      gap: 32px;
      justify-content: space-between;

      @include respond("mobile") {
        flex-direction: column;
      }

      &__titles {
        width: 40%;
        display: flex;
        flex-direction: column;
        gap: 4px;
        padding-top: 8px;

        @include respond("mobile") {
          width: unset;
        }
      }

      &__title {
        overflow: hidden;
        text-overflow: ellipsis;
        font-family: "NeueMachinaRegular";
        font-size: 26px;
        font-style: normal;
        font-weight: 400;
        line-height: 120%; /* 33.6px */
        letter-spacing: 1.56px;
        text-transform: uppercase;

        background: var(
          --Gradient-1,
          linear-gradient(
            145deg,
            #fff625 -13.26%,
            #cbea7f 15.7%,
            #a7e2be 55.24%,
            #98ded9 93.66%
          )
        );
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;

        @include respond("mobile") {
          font-size: 18px;
        }
      }

      &__sub-title {
        color: var(--white, #fff);
        font-family: "NotoSansItalic";
        font-size: 20px;
        font-style: italic;
        font-weight: 400;
        line-height: 150%; /* 39px */

        @include respond("mobile") {
          font-size: 16px;
        }
      }

      &__info {
        display: flex;
        flex-direction: column;
        gap: 24px;
      }

      &__description {
        max-width: 786px;

        color: var(--white, #fff);

        /* Desktop/Text Large */
        font-family: "Noto Sans";
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%; /* 39px */

        @include respond("mobile") {
          width: unset;
          font-size: 16px;
        }
      }

      a {
        align-self: flex-start;
        text-decoration: none;
      }

      &__link {
        padding: 8px 24px;

        border-radius: 36px;
        border: 1px solid var(--Grey, #9e9e9e);

        color: var(--white, #fff);
        font-family: "Noto Sans";
        font-size: 18px;
        font-style: normal;
        font-weight: 300;
        line-height: 160%; /* 28.8px */
        letter-spacing: 0.18px;

        @include respond("mobile") {
          width: unset;
          font-size: 14px;
        }
      }
    }
  }

  .pattern-wave {
    padding-top: 70px;
    position: absolute;
    bottom: 250px;
    width: 140vw;
    right: -35vw;
    z-index: -1;
    transform: rotate(-5deg);

    @include respond("tablet") {
      padding: 0;
    }

    @include respond("mobile") {
      padding: 0;
      bottom: 620px;
    }

    img {
      width: 100%;
    }
  }

  &__culture {
    border-top: 1px solid #fff;
    padding: 30px 0 160px;
    margin: 160px 140px 180px;
    color: var(--white, #fff);
    font-family: "NotoSansRegular";
    font-size: 26px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 39px */
    z-index: 1;

    &__info {
      margin-top: 30px;
      font-family: "NotoSansRegular";
      font-size: 20px;
      color: #d1d5db;
      line-height: 30px;
    }

    @include respond("tablet") {
      padding: 30px 0 160px;
      margin: 80px;
    }

    @include respond("mobile") {
      margin: 60px;
      font-size: 18px;
      &__info {
        font-size: 16px;
      }
    }
    a {
      color: white;
    }
  }

  .footer {
    padding: 180px 70px 80px;

    @include respond("tablet") {
      padding-top: 20px;
      padding-left: $app-side-padding-tablet;
      padding-right: $app-side-padding-tablet;
    }

    @include respond("mobile") {
      padding-top: 20px;
      padding-left: $app-side-padding-mobile;
      padding-right: $app-side-padding-mobile;
    }
  }

  &__pattern-wave {
    position: relative;
    bottom: 10px;
    left: -420px;
    width: 200%;
    margin-top: -180px;
    transform: rotate(1deg);
    z-index: 0;
    pointer-events: none;
    user-select: none;

    @include respond("mobile") {
      position: absolute;
      bottom: 720px;
      width: 150%;
      left: 0;
      margin-top: 10px;
    }
  }
}
