@font-face {
  font-family: 'NeueMachinaRegular';
  src: url('../assets/fonts/NeueMachinaRegular/NeueMachina-Regular.woff2') format('woff2'),  /* Super Modern Browsers */
       url('../assets/fonts/NeueMachinaRegular/NeueMachina-Regular.woff') format('woff'), /* Pretty Modern Browsers */
       url('../assets/fonts/NeueMachinaRegular/NeueMachina-Regular.ttf') format('truetype');  /* Safari, Android, iOS */ 
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'NeueMachinaMedium';
  src: url('../assets/fonts/NeueMachinaMedium/NeueMachina-Medium.woff2') format('woff2'),  /* Super Modern Browsers */
       url('../assets/fonts/NeueMachinaMedium/NeueMachina-Medium.woff') format('woff'), /* Pretty Modern Browsers */
       url('../assets/fonts/NeueMachinaMedium/NeueMachina-Medium.ttf') format('truetype');  /* Safari, Android, iOS */ 
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'NotoSansLight';
  src: url('../assets/fonts/NotoSansLight/NotoSansLight.woff2') format('woff2'),  /* Super Modern Browsers */
       url('../assets/fonts/NotoSansLight/NotoSansLight.woff') format('woff'), /* Pretty Modern Browsers */
       url('../assets/fonts/NotoSansLight/NotoSansLight.ttf') format('truetype');  /* Safari, Android, iOS */ 
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'NotoSansRegular';
  src: url('../assets/fonts/NotoSansRegular/NotoSansRegular.woff2') format('woff2'),  /* Super Modern Browsers */
       url('../assets/fonts/NotoSansRegular/NotoSansRegular.woff') format('woff'), /* Pretty Modern Browsers */
       url('../assets/fonts/NotoSansRegular/NotoSansRegular.ttf') format('truetype');  /* Safari, Android, iOS */ 
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'NotoSansBold';
  src: url('../assets/fonts/NotoSansBold/NotoSansBold.woff2') format('woff2'),  /* Super Modern Browsers */
       url('../assets/fonts/NotoSansBold/NotoSansBold.woff') format('woff'), /* Pretty Modern Browsers */
       url('../assets/fonts/NotoSansBold/NotoSansBold.ttf') format('truetype');  /* Safari, Android, iOS */ 
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'NotoSansItalic';
  src: url('../assets/fonts/NotoSansItalic/NotoSansItalic.ttf') format('truetype');  /* Safari, Android, iOS */ 
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'WorkSans';
  src: url('../assets/fonts/WorkSans/WorkSans.woff2') format('woff2'),  /* Super Modern Browsers */
       url('../assets/fonts/WorkSans/WorkSans.woff') format('woff'), /* Pretty Modern Browsers */
       url('../assets/fonts/WorkSans/WorkSans.ttf') format('truetype');  /* Safari, Android, iOS */ 
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

