@import "reset";
@import "font-face";
@import "global";
@import "transitions";
@import "variables";
@import "mixins";

html,
body {
  height: 100%;
}

#app {
  position: relative;
  height: 100%;
}

.app {
  &__gradient-bottom-yellow,
  &__gradient-bottom-blue {
    pointer-events: none;
    user-select: none;
    position: absolute;
    width: 108vw;
    display: block;
    right: -$app-side-padding-desktop;
    bottom: 0;

    @include respond("tablet") {
      right: -$app-side-padding-tablet;
    }

    @include respond("mobile") {
      right: -$app-side-padding-mobile;
    }
  }

  &__gradient-top-yellow,
  &__gradient-top-blue {
    pointer-events: none;
    user-select: none;
    position: absolute;
    top: 0;
    left: -$app-side-padding-desktop;

    @include respond("tablet") {
      left: -$app-side-padding-tablet;
    }

    @include respond("mobile") {
      left: -$app-side-padding-mobile;
    }
  }

  .pattern-wave {
    padding-top: 70px;
    position: absolute;
    bottom: 250px;
    width: 140vw;
    right: -35vw;
    transform: rotate(-5deg);

    @include respond("tablet") {
      padding: 0;
    }

    @include respond("mobile") {
      padding: 0;
      bottom: 620px;
    }

    img {
      width: 100%;
    }
  }
}

.header {
  &__slot {
    display: none;

    @include respond("tablet") {
      display: block;
    }
  }
}
