.cases {
  background-color: #000;
  color: #fff;
  position: relative;

  // display: flex;
  justify-content: center;

  .images_phones {
    position: relative;
    top: -350px;
    clip-path: inset(0 0 40% 0);
  }

  .image-big-phones {
    & > img {
      width: 100%;
    }
  }
}
