.cases {
  background-color: #000;
  color: #fff;
  position: relative;

  justify-content: center;

  display: flex;
  flex-direction: column;
  align-items: center;

  &__header {
    height: 800px;
    background: linear-gradient(to right, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0)),
      url("/images/cases/top-hospital.png");
    background-repeat: no-repeat;
    background-size: contain;

    @include respond("mobile") {
      background-image: unset;
      height: unset;
    }
  }

  & > .header {
    width: 1200px;

    @include respond("mobile") {
      width: unset;
    }
  }
  .images_phones {
    position: relative;
    left: -150px;
  }
  .momentum-images {
    position: relative;
    right: -10px;
  }

  .image-big-phones {
    & > img {
      width: 100%;
    }
  }

  .key-app-features-title {
    font-family: "Noto Sans";
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
  }

  .key-app-features {
    display: flex;
    flex-direction: column;
    gap: 27px;

    font-family: "Noto Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 25.2px */
    &__item {
      display: flex;
      align-items: center;
      gap: 17px;

      img {
        background-color: #dcdcec;
        border-radius: 50%;
        padding: 7px;
        width: 35px;
        height: 35px;
      }
    }
  }

  .m2m-footer,
  .momentum-footer {
    margin-top: -102px;
  }

  .momentum-text-image {
    padding: unset;
  }

  .charm-text-image {
    padding: unset;
  }

  .momentum-footer {
    margin-top: -102px;
  }
}
