.cases-landing {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__section {
    width: 1200px;

    @include respond("mobile") {
      width: unset;
    }
  }

  &__header {
    box-sizing: border-box;

    @include respond("mobile") {
      background-color: black;
      box-shadow: 0 1px 5px rgba(255, 255, 255, 0.5);
    }
  }

  &__container {
    flex: 1 1 auto;
    overflow-y: auto;
    height: calc(100% - 60px);
    margin-top: 60px;
    overflow-x: hidden;

    display: flex;
    flex-direction: column;
    align-items: center;

    @include respond("mobile") {
      width: unset;
    }
  }

  &__cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1200px;
    gap: 64px;

    @include respond("mobile") {
      padding: 20px;
    }

    &__title {
      font-family: "NeueMachinaMedium";
      text-align: center;
      font-size: 32px;
      font-style: normal;
      font-weight: 400;
      line-height: 43.2px; /* 120% */
      letter-spacing: 0.36px;
    }

    & > :first-child {
    }

    & > :nth-child(2) {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
      gap: 20px;
      margin-bottom: 70px;
      width: 100%;
      @include respond("mobile") {
        display: unset;
        margin: 0px 20px;
      }
    }

    @include respond("mobile") {
      width: unset;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 150px;
    padding: 20px;
    box-sizing: border-box;
    align-items: center;

    @include respond("mobile") {
      width: 100%;
    }
  }

  &__subtitle {
    font-family: "NeueMachinaMedium";
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: 43.2px; /* 120% */
    letter-spacing: 0.36px;
  }
}
