.page-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  @include respond("mobile") {
    background-size: contain;
  }

  .mid-container {
    width: 700px;
    color: white;

    @include respond("mobile") {
      //  width: 360px;
      width: 100%;
      padding: 10px;
      box-sizing: border-box;
    }
  }

  .contact-button {
    margin-top: 32px;
  }

  &__mobile-background {
    display: none;
    img {
      width: 100%;
      height: 100%;
    }

    @include respond("mobile") {
      display: unset;
    }
  }

  &__title {
    font-family: "NeueMachinaMedium";

    font-size: 56px;
    font-weight: 400;
    line-height: 64px;
    letter-spacing: 0.01em;
    text-align: left;
    width: 1200px;

    @include respond("mobile") {
      width: unset;
      font-size: 40px;
      line-height: 44px;
      margin-top: 20px;
      padding-left: $app-side-padding-mobile;
      padding-right: $app-side-padding-mobile;
    }
  }

  &__description {
    font-family: "NotoSansLight";
    margin-top: 32px;
    font-size: 20px;
    font-weight: 400;
    line-height: 39px;
    letter-spacing: 0em;
    text-align: left;
    width: 1200px;

    @include respond("mobile") {
      width: unset;
      line-height: 30px;
      font-size: 18px;
      margin-bottom: 50px;
      padding-left: $app-side-padding-mobile;
      padding-right: $app-side-padding-mobile;
    }
  }
}
