.products {
  background-color: #000;
  color: #fff;
  position: relative;

  display: flex;
  justify-content: center;

  .container {
    width: 1440px;
  }

  .product-image-header {
    @include respond("mobile") {
      display: none;
    }
  }

  .picture-action-oriented {
    position: absolute;
    bottom: 0px;
    right: 0px;
  }

  .picture-easy-integration {
    bottom: 0px;
    right: 0px;
    position: absolute;
  }

  .picture-notifications {
    position: absolute;
    bottom: 0px;
    right: 0px;
  }

  .picture-llm {
    position: absolute;
    width: 401px;
    height: 334px;

    bottom: 0px;
    left: 100px;
  }

  .product-card-matrix {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 40px;
    width: 200%;
    position: relative;
    left: -50%; /* Desplazar hacia la izquierda la mitad de 100vw */
    // transform: translateX(-25vw); /* Centrar el grid */

    @include respond("mobile") {
      display: flex;
      flex-direction: column;
      gap: 38px;
      transform: unset;
      width: unset;
      left: unset;
      right: unset;

      & > * {
        //   width: 150%;
        //  left: unset !important;
        // right: unset !important;
      }
    }
  }

  img {
    z-index: 10;
  }

  .jumbotron {
    position: relative;
    z-index: 1;
    padding: 336px 121px 320px;
    display: flex;
    flex-direction: column;

    .title {
      margin-bottom: 32px;

      font-family: "NeueMachinaMedium";
      font-size: 58px;
      font-weight: 400;
      line-height: 64px;
      letter-spacing: 0.01em;
      text-align: left;
    }

    .description {
      max-width: 691px;
      width: 100%;

      font-family: "NotoSansLight";
      font-size: 24px;
      font-weight: 400;
      line-height: 39px;
      letter-spacing: 0em;
      text-align: left;
    }

    @include respond("tablet") {
      padding-left: $app-side-padding-tablet;
      padding-right: $app-side-padding-tablet;
    }

    @include respond("mobile") {
      padding-left: $app-side-padding-mobile;
      padding-right: $app-side-padding-mobile;

      padding-top: 120px;
      padding-bottom: 560px;

      .title {
        font-family: "NeueMachinaMedium";
        font-size: 32px;
        font-weight: 400;
        line-height: 38px;
        text-align: left;
      }

      .description {
        font-family: "NotoSansLight";
        font-size: 20px;
        line-height: 32px;
        font-weight: 300;
        text-align: left;
      }
    }
  }

  .features {
    position: relative;
    z-index: 1;
    // padding: 80px 120px 320px;
    display: flex;
    flex-direction: column;

    .images {
      padding: 0 120px;
      margin-bottom: 120px;
      display: flex;

      img {
        width: 100%;
      }
    }

    .list {
      display: flex;
      gap: 60px;

      .item {
        max-width: 360px;
        padding-top: 16px;
        border-top: 1px solid #fff;
        cursor: pointer;

        &.active {
          padding-top: 15px;
          border-top: 2px solid #8cdfd9;
        }

        .title {
          font-family: "Noto Sans";
          font-size: 22px;
          font-weight: 600;
          line-height: 27px;
          letter-spacing: 0em;
          text-align: left;

          margin-bottom: 12px;
        }

        .description {
          font-family: "NotoSansRegular";
          font-size: 16px;
          font-weight: 600;
          line-height: 22px;
          letter-spacing: 0em;
          text-align: left;

          color: #d1d5db;
        }
      }
    }

    .mobile-body {
      display: none;
      flex-direction: column;

      .slide {
        display: flex;
        align-items: flex-start;
      }

      .images {
        padding: 0;
      }
    }

    @include respond("tablet") {
      padding-left: $app-side-padding-tablet;
      padding-right: $app-side-padding-tablet;
    }

    @include respond("mobile") {
      padding-bottom: 160px;
      padding-left: $app-side-padding-mobile;
      padding-right: $app-side-padding-mobile;
    }

    @include respond("mobile") {
      .desktop-body {
        display: none;
      }

      .mobile-body {
        display: flex;
      }
    }
  }

  .section {
    position: relative;
    z-index: 1;
    //border-top: 1px solid #fff;
    // margin: 80px 120px 320px;
    padding-bottom: 80px;

    @include respond("tablet") {
      margin-left: $app-side-padding-tablet;
      margin-right: $app-side-padding-tablet;
    }

    @include respond("mobile") {
      margin-bottom: 160px;
      margin-left: $app-side-padding-mobile;
      margin-right: $app-side-padding-mobile;
    }

    &:nth-child(odd) {
      .desktop-body {
        flex-direction: row-reverse;
      }
    }

    .desktop-body,
    .mobile-body {
      display: flex;
      gap: 56px;

      .image {
        overflow: hidden;
        border-radius: 16px;
        max-height: 680px;
        max-width: 696px;
        border: 1.5px solid #4b5563;
        box-sizing: border-box;

        img {
          width: 100%;
        }
      }

      .features-list {
        max-width: 448px;
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 32px;

        .item {
          box-sizing: border-box;
          width: 100%;
          min-height: 32px;
          display: flex;
          flex-direction: column;
          gap: 12px;
          padding-top: 48px;

          background-repeat: no-repeat;

          .item-icon {
            width: 28px;
          }
          .title {
            font-family: "Noto Sans", sans-serif;
            font-size: 24px;
            font-weight: 600;
            line-height: 32px;
            letter-spacing: 0em;
            text-align: left;

            margin: 0;
            padding: 0;
            //margin-bottom: 12px;
          }

          .description {
            font-family: "NotoSansRegular";
            font-size: 16px;
            font-weight: 400;
            line-height: 30px;
            letter-spacing: 0em;
            text-align: left;

            color: #9ca3af;

            margin-bottom: 0;
            padding: 0;
          }
        }
      }
    }

    .mobile-body {
      max-width: calc(100vw - $app-side-padding-mobile * 2);
      display: none;
      flex-direction: column;

      .slide {
        display: flex;
        align-items: flex-start;
      }

      .image {
        overflow: hidden;
        border-radius: 16px;
        max-height: 680px;
        max-width: 696px;

        img {
          width: 100%;
        }
      }
    }

    @include respond("tablet") {
      &:nth-child(odd),
      & {
        .desktop-body {
          flex-direction: column;

          .features-list {
            max-width: 100%;
          }
        }
      }
    }

    @include respond("mobile") {
      .desktop-body {
        display: none;
      }

      .mobile-body {
        display: flex;
      }
    }

    .mobile-slide {
      display: flex;
      flex-direction: column;
      gap: 80px;
    }
  }

  .testimonials {
    position: relative;
    z-index: 1;
    border-top: 1px solid #fff;
    margin: 80px 120px 320px;

    @include respond("tablet") {
      margin-left: $app-side-padding-tablet;
      margin-right: $app-side-padding-tablet;
    }

    @include respond("mobile") {
      margin-left: $app-side-padding-mobile;
      margin-right: $app-side-padding-mobile;
    }

    .title {
      font-family: "NeueMachinaMedium";
      font-size: 44px;
      font-weight: 400;
      line-height: 53px;
      letter-spacing: 0.03em;
      text-align: left;

      color: #fff;
      margin-top: 30px;
      margin-bottom: 80px;
    }

    .comments {
      display: flex;
      gap: 24px;

      .comment {
        display: flex;
        flex-direction: column;
        background-color: #141c26;
        border: 1.5px solid #9ca3af;
        border-radius: 8px;

        padding: 40px 80px;

        gap: 30px;

        .body {
          font-family: "NeueMachinaMedium";
          font-size: 28px;
          font-weight: 400;
          line-height: 38px;
          letter-spacing: 0em;
          text-align: left;

          color: #fff;
        }

        .user {
          display: flex;
          gap: 23px;

          .avatar {
            border-radius: 100%;
            width: 50px;
            height: 50px;
            background-color: #d9d9d9;
          }

          .info {
            display: flex;
            flex-direction: column;

            .name {
              font-family: Inter;
              font-size: 22px;
              font-weight: 600;
              line-height: 27px;
              letter-spacing: 0em;
              text-align: left;
            }

            .role {
              font-family: Inter;
              font-size: 16px;
              font-weight: 400;
              line-height: 22px;
              letter-spacing: 0em;
              text-align: left;
            }
          }
        }
      }
    }
  }

  .demo {
    z-index: 1;
    display: flex;
    position: relative;
    padding: 80px 120px 320px;

    @include respond("tablet") {
      padding-left: $app-side-padding-tablet;
      padding-right: $app-side-padding-tablet;
    }

    @include respond("mobile") {
      padding-bottom: 160px;
      padding-left: $app-side-padding-mobile;
      padding-right: $app-side-padding-mobile;
    }

    .card_old {
      width: 100%;
      border-radius: 16px;
      border: 1.5px solid #4b5563;
      background: linear-gradient(
        93.24deg,
        rgb(10, 3, 48) -8.68%,
        rgb(17, 17, 47) 11.72%,
        rgb(23, 30, 45) 38.64%,
        rgb(27, 37, 44) 65.85%,
        rgb(30, 44, 43) 87.98%
      );
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 113px 0;
      flex-direction: column;
    }

    .title {
      font-family: "NeueMachinaMedium";
      font-size: 44px;
      font-weight: 400;
      line-height: 53px;
      letter-spacing: 0.03em;
      text-align: left;
      color: #fff;
      margin-bottom: 37px;
    }

    .input {
      display: flex;
      gap: 16px;

      input {
        width: 320px;
        font-family: "Noto Sans";
        font-size: 18px;
        font-weight: 400;
        line-height: 27px;

        color: #000;
        padding: 7px 24px;

        border: 1px solid #9e9e9e;

        border-radius: 30px;

        text-decoration: underline;
        box-sizing: border-box;
      }

      .button {
        font-family: "Noto Sans";
        font-size: 18px;
        font-weight: 400;
        line-height: 27px;
        border: 1px solid #9e9e9e;

        background-color: #8cdfd9;
        color: #000;

        padding: 7px 24px;

        border-radius: 100px;
      }
    }

    @include respond("mobile") {
      .title {
        font-size: 32px;
        text-align: center;
      }

      .card {
        padding: 32px;
      }

      .input {
        flex-direction: column;
        width: 100%;

        input {
          width: 100%;
          box-sizing: border-box;
        }

        button {
          margin: 0 auto;
        }
      }
    }
  }

  .footer {
    padding: 180px 70px 80px;

    @include respond("tablet") {
      padding-left: $app-side-padding-tablet;
      padding-right: $app-side-padding-tablet;
    }

    @include respond("mobile") {
      padding-left: $app-side-padding-mobile;
      padding-right: $app-side-padding-mobile;
    }
  }

  .hex {
    position: absolute;
    top: 4700px;
    left: -1000px;
    transform: rotate(-87.67deg);
    width: 100vw;

    &::before {
      position: absolute;
      top: 0;
      left: 0;
      content: "";
      display: block;
      width: 100vw;
      height: 100vw;
      background: linear-gradient(89deg, #000 10.97%, rgba(0, 0, 0, 0) 148.23%);
    }

    @include respond("mobile") {
      width: 100vw;
      left: -55vw;
      top: 4450px;

      img {
        width: 100%;
      }
    }
  }

  .circle {
    position: absolute;
    right: -670px;

    &.top {
      top: 100px;

      @include respond("mobile") {
        top: unset;
        bottom: -15vw;
        left: 15vw;

        img {
          width: 150vw;
        }
      }
    }

    &.bottom {
      transform: rotate(-47deg);
      top: unset;
      bottom: 700px;

      @include respond("mobile") {
        // display: none;
        transform: rotate(0deg);
        left: -25vw;
        width: 75vw;
        bottom: 600px;
      }
    }
  }

  .carousel__pagination {
    margin-top: 32px;
    display: flex;
    gap: 16px;

    &-button {
      width: 12px;
      height: 12px;
      background-color: #4b5563;
      border-radius: 50%;

      &::after {
        display: none;
      }

      &--active {
        background-color: #fff;
      }
    }
  }
}
