.products {
  background-color: #000;
  color: #fff;
  position: relative;


  display: flex;
  justify-content: center;

  .container {
    width: 1440px;
  }

  .jumbotron {
    position: relative;
    z-index: 1;
    padding: 336px 121px 320px;
    display: flex;
    flex-direction: column;

    .title {
      margin-bottom: 32px;

      font-family: 'NeueMachinaMedium';
      font-size: 58px;
      font-weight: 400;
      line-height: 64px;
      letter-spacing: 0.01em;
      text-align: left;
    }

    .description {
      max-width: 691px;
      width: 100%;

      font-family: 'NotoSansRegular';
      font-size: 26px;
      font-weight: 400;
      line-height: 39px;
      letter-spacing: 0em;
      text-align: left;
    }

    @include respond('tablet') {
      padding-left: $app-side-padding-tablet;
      padding-right: $app-side-padding-tablet;
    }
  
    @include respond('mobile') {
      padding-left: $app-side-padding-mobile;
      padding-right: $app-side-padding-mobile;

      padding-top: 120px;
      padding-bottom: 560px;

      .title {
        font-family: 'NeueMachinaMedium';
        font-size: 32px;
        font-weight: 400;
        line-height: 38px;
        letter-spacing: 0.01em;
        text-align: left;
      }

      .description {
        font-family: 'NotoSansRegular';
        font-size: 18px;
        font-weight: 300;
        line-height: 29px;
        letter-spacing: 0.01em;
        text-align: left;
      }
    }
  }

  .features {
    position: relative;
    z-index: 1;
    padding: 80px 120px 320px;

    .images {
      position: relative;
      padding: 0 120px;
      margin-bottom: 120px;
      display: flex;
    }

    .image {
      position: absolute;
      opacity: 0;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      transition: 0.2s ease-in-out;
      z-index: -1;
      display: flex;
      justify-content: center;

      &.active {
        opacity: 1;
        position: relative;
        left: 0;
        display: block;
        z-index: 1;

        img {
          width: 100%;
        }
      }
    }

    .list {
      display: flex;
      gap: 60px;

      .item {
        max-width: 360px;
        padding-top: 16px;
        border-top: 1px solid #fff;
        cursor: pointer;
        
        &.active {
          padding-top: 15px;
          border-top: 2px solid #8CDFD9;
        }

        .title {
          font-family: Noto Sans;
          font-size: 22px;
          font-weight: 600;
          line-height: 27px;
          letter-spacing: 0em;
          text-align: left;

          margin-bottom: 12px;
        }

        .description {
          font-family: 'NotoSansRegular';
          font-size: 16px;
          font-weight: 600;
          line-height: 22px;
          letter-spacing: 0em;
          text-align: left;

          color: #D1D5DB;
        }
      }
    }

    @include respond('tablet') {
      padding-left: $app-side-padding-tablet;
      padding-right: $app-side-padding-tablet;
    }
  
    @include respond('mobile') {
      padding-left: $app-side-padding-mobile;
      padding-right: $app-side-padding-mobile;

      box-sizing: border-box;

      .item {
        display: none;
      }

      .images {
        padding: 0;
        box-sizing: border-box;
        max-width: 100%;
      }

      .image {
        img {
          max-width: 100%;
          height: auto;
        }
      }
    }
  }

  .swiper {
    width: 100%;
    max-width: 100%;
    max-height: 100vh;
    // CSS Grid/Flexbox bug size workaround
    // @see https://github.com/kenwheeler/slick/issues/982
    // @see https://github.com/nolimits4web/swiper/issues/3599
    min-height: 0;
    min-width: 0;
    position: relative;

    &-slide {
      width: auto;
      flex-shrink: 0;
      display: block;
      height: 100%;
      max-height: 100%;
    }

    &-wrapper {
      max-height: 100%;
      height: 100%;
      display: flex;
    }
  }

  .bullet {
    width: 12px;
    height: 12px;
    background-color: #4B5563;
    opacity: 1;
  }

  .swiper-pagination {
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: 24px;

    &-bullet {
      position: relative;
      top: -30px;
      margin: 0;

      width: 12px;
      height: 12px;
      background-color: #4B5563;
      opacity: 1;
    }

    &-bullet-active {
      background-color: #fff;
    }
  }

  // .analytics:nth-child(odd), .models:nth-child(odd), .interventions:nth-child(odd) {
  //   .section {
  //     grid-template-areas: "section image";
  //   }
  // }

  // .analytics:nth-child(even), .models:nth-child(even), .interventions:nth-child(even) {
  //   .section {
  //     grid-template-areas: "image section";
  //   }
  // }

  .section {
    position: relative;
    z-index: 1;
    border-top: 1px solid #fff;
    margin: 80px 120px 320px;
    padding-bottom: 80px;

    @include respond('tablet') {
      margin-left: $app-side-padding-tablet;
      margin-right: $app-side-padding-tablet;
    }
  
    @include respond('mobile') {
      margin-left: $app-side-padding-mobile;
      margin-right: $app-side-padding-mobile;
    }

    .title {
      font-family: 'NeueMachinaMedium';
      font-size: 44px;
      font-weight: 400;
      line-height: 53px;
      letter-spacing: 0.03em;
      text-align: left;

      color: #fff;
      margin-top: 30px;
      margin-bottom: 16px;
    }

    .description {
      font-family: 'NotoSansRegular';
      font-size: 20px;
      font-weight: 400;
      line-height: 30px;
      letter-spacing: 0em;
      text-align: left;

      color: #D1D5DB;

      margin-bottom: 80px;
    }

    .desktop-body {
      // display: flex;
      // gap: 64px;

      // @include respond('smallDesktop') {
      //   flex-direction: column;
      //   align-items: center;
      // }

      .image {
        max-width: 696px;
        max-height: 680px;
        height: 100%;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;

        img {
          max-width: 100%;
          max-height: 100%;
          height: 100%;
          object-fit: contain;
        }
      }

      .features {
        display: flex;
        display: grid;
        flex-direction: column;
        gap: 32px;

        .item {
          min-height: 32px;
          display: flex;
          flex-direction: column;

          padding-left: 48px;

          background-image: url(../../assets/lock_icon.png);
          background-repeat: no-repeat;

          &:nth-child(2) {
            background-image: url(../../assets/stats_icon.png);
          }

          &:nth-child(3) {
            background-image: url(../../assets/code_icon.png);
          }

          .title {
            font-family: Inter;
            font-size: 22px;
            font-weight: 600;
            line-height: 27px;
            letter-spacing: 0em;
            text-align: left;

            margin: 0;
            padding: 0;
            margin-bottom: 12px;
          }

          .description {
            font-family: 'NotoSansRegular';
            font-size: 20px;
            font-weight: 400;
            line-height: 30px;
            letter-spacing: 0em;
            text-align: left;
  
            color: #D1D5DB;

            margin-bottom: 0;
            padding: 0;
          }
        }
      }
    }

    // @include respond('mobile') {
    //   .section {
    //     align-items: flex-start;
    //     grid-template-rows: auto;
    //     grid-template-columns: 1fr;
    //     grid-template-areas: "image" "section" !important;
    //     width: 100%;

    //     .inner-section {
    //       width: 100%;

    //       .list {
    //         position: relative;
    //         overflow: hidden;
    //         width: 100%;
    //         flex-direction: row;

    //         .item {
    //           flex-shrink: 0;
    //           position: relative;
    //           width: 100%;
    //           padding-top: 48px;
    //           padding-left: 0;
    
    //           .title {
    //             font-size: 20px;
    //           }

    //           .description {
    //             font-size: 14px;
    //             line-height: 21px;
    //           }

    //           // &:nth-child(1) {
    //           //   width: 100%;
    //           //   left: -200%;
    //           // }

    //           &:nth-child(2) {
    //             width: 100%;
    //             left: 0;
    //             // left: -200%;
    //           }
    //         }
    //       }
    //     }
    //   }
    // }
  }

  .mobile-body {
    display: none;
  };

  .testimonials {
    position: relative;
    z-index: 1;
    border-top: 1px solid #fff;
    margin: 80px 120px 320px;

    @include respond('tablet') {
      margin-left: $app-side-padding-tablet;
      margin-right: $app-side-padding-tablet;
    }
  
    @include respond('mobile') {
      margin-left: $app-side-padding-mobile;
      margin-right: $app-side-padding-mobile;
    }

    .title {
      font-family: 'NeueMachinaMedium';
      font-size: 44px;
      font-weight: 400;
      line-height: 53px;
      letter-spacing: 0.03em;
      text-align: left;

      color: #fff;
      margin-top: 30px;
      margin-bottom: 80px;
    }

    .comments {
      display: flex;
      gap: 24px;

      .comment {
        display: flex;
        flex-direction: column;
        background-color: #141C26;
        border: 1.5px solid #9CA3AF;
        border-radius: 8px;

        padding: 40px 80px;

        gap: 30px;

        .body {
          font-family: 'NeueMachinaMedium';
          font-size: 28px;
          font-weight: 400;
          line-height: 38px;
          letter-spacing: 0em;
          text-align: left;

          color: #fff;
        }

        .user {
          display: flex;
          gap: 23px;

          .avatar {
            border-radius: 100%;
            width: 50px;
            height: 50px;
            background-color: #D9D9D9;
          }

          .info {
            display: flex;
            flex-direction: column;
            
            .name {
              font-family: Inter;
              font-size: 22px;
              font-weight: 600;
              line-height: 27px;
              letter-spacing: 0em;
              text-align: left;
            }

            .role {
              font-family: Inter;
              font-size: 16px;
              font-weight: 400;
              line-height: 22px;
              letter-spacing: 0em;
              text-align: left;
            }
          }
        }
      }
    }
  }

  .demo {
    z-index: 1;
    display: flex;
    position: relative;
    padding: 80px 120px 320px;

    @include respond('tablet') {
      padding-left: $app-side-padding-tablet;
      padding-right: $app-side-padding-tablet;
    }
  
    @include respond('mobile') {
      padding-left: $app-side-padding-mobile;
      padding-right: $app-side-padding-mobile;
    }

    .card {
      width: 100%;
      border-radius: 16px;
      border: 1px solid #9CA3AF;
      background: linear-gradient(93.24deg,
        rgb(10,3,48) -8.68%, 
        rgb(17,17,47) 11.72%, 
        rgb(23,30,45) 38.64%, 
        rgb(27,37,44) 65.85%, 
        rgb(30,44,43) 87.98%);
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 113px 0;
      flex-direction: column;
    }

    .title {
      font-family: 'NeueMachinaMedium';
      font-size: 44px;
      font-weight: 400;
      line-height: 53px;
      letter-spacing: 0.03em;
      text-align: left;
      color: #fff;
      margin-bottom: 37px;
    }
    
    .input {
      display: flex;
      gap: 16px;

      input {
        width: 320px;
        font-family: Open Sans;
        font-size: 16px;
        font-weight: 400;
        line-height: 22px;
        letter-spacing: 0em;
        text-align: left;

        color: #0D0E14;
        padding: 16px;

        border: 2px solid #A1AEBF;

        border-radius: 30px;

        text-decoration: underline;
      }

      .button {
        font-family: Noto Sans;
        font-size: 16px;
        font-weight: 700;
        line-height: 22px;
        letter-spacing: 0em;
        text-align: left;
        border: none;

        background-color: #8CDFD9;
        color: #000;

        padding: 12px 24px;

        border-radius: 100px;
      }
    }

    @include respond('mobile') {
      margin-left: $app-side-padding-mobile;
      margin-right: $app-side-padding-mobile;
      
      .title {
        font-size: 32px;
        text-align: center;
      }

      .card {
        padding: 32px;
      }

      .input {
        flex-direction: column;
        width: 100%;

        input {
          width: 100%;
          box-sizing: border-box;
        }

        button {
          margin: 0 auto;
        }
      }
    }
  }

  .footer {
    padding: 180px 70px 80px;

    @include respond('tablet') {
      padding-left: $app-side-padding-tablet;
      padding-right: $app-side-padding-tablet;
    }
  
    @include respond('mobile') {
      padding-left: $app-side-padding-mobile;
      padding-right: $app-side-padding-mobile;
    }
  }

  .hex {
    position: absolute;
    top: 2700px;
    left: -750px;
    transform: rotate(-87.67deg);

    &::before {
      position: absolute;
      top: 0;
      left: 0;
      content: '';
      display: block;
      width: 100%;
      height: 100%;
      background: linear-gradient(0deg, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);
      transform: rotate(-87.67deg);
    }
  }

  .circle {
    position: absolute;
    right: -670px;

    &.top {
      top: 100px;
    }

    &.bottom {
      transform: rotate(-47deg);
      top: unset;
      bottom: 900px;
    }
  }
}
