.get-in-touch {
  padding: 146px;

  font-family: "Noto Sans";
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  display: flex;
  flex-direction: column;
  align-items: center;

  & > :first-child {
    font-family: "NeueMachinaMedium";

    font-size: 44px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 52.8px */
    letter-spacing: 1.32px;
  }

  & > :last-child {
    margin-top: 36px;
  }
}
