.side-text-section {
  max-width: 1200px;
  gap: 50px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: space-between;

  border-top: 1px solid #fff;
  padding-top: 32px;

  @include respond("mobile") {
    display: block;
    padding: 0px 20px;
  }

  &__title {
    flex: 1;
    color: var(--Text-Primary, #fff);
    font-family: "NeueMachinaMedium";
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: 43.2px; /* 120% */
    letter-spacing: 0.36px;
    min-width: 500px;

    @include respond("mobile") {
      min-width: unset;
    }
  }

  &__text {
    flex: 2;
    color: #fff;
    font-family: "Open Sans";
    font-size: 22px;
    font-style: normal;
    font-weight: 300;
    line-height: 33px; /* 150% */
    letter-spacing: 0.22px;
  }
}
