.supply-chain-landing {
  .supplychain-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    margin-bottom: 70px;
    @include respond("mobile") {
      display: unset;
      margin: 0px 20px;
    }
  }
}
