@import '../../styles/mixins';

.problem {
  @include sectionBorder();

  &__description {
    font-size: 24px;
    line-height: 1.8;
    width: 40%;
    margin-left: 50%; 
    margin-top: 160px;
    margin-bottom: 430px;
  }
}