.problem {
  @include sectionBorder();

  &__description {
    line-height: 1.8;
    width: 40%;
    margin-left: 50%; 
    margin-top: 160px;
    margin-bottom: 300px;

    & > p {
      margin-bottom: 20px;
    }

    @include respond('tablet') {
      width: 100%;
      margin-left: 0;
      margin-top: 80px;
      margin-bottom: 150px;
    }
  }
}