.problem {
  @include sectionBorder();
  z-index: 2;
  position: relative;

  &__description {
    line-height: 1.6;
    width: 75%;
    margin-left: 25%;
    margin-top: 160px;
    margin-bottom: 350px;

    & > p {
      margin-bottom: 20px;
    }

    @include respond("tablet") {
      width: 100%;
      margin-left: 0;
      margin-top: 80px;
      margin-bottom: 150px;
    }
  }
}
