.applications {
  @include sectionBorder();
  position: relative;

  @include respond("tablet") {
    margin-bottom: 100px;
  }

  &__wrapper {
    display: grid;
    grid-template-columns: 40vw 60vw;
    margin-top: 160px;

    @include respond("tablet") {
      margin-top: 0;
      display: flex;
      flex-direction: column-reverse;
    }
  }

  &__patterns {
    @include respond("tablet") {
      margin-top: 100px;
    }

    @include respond("mobile") {
      margin-top: 50px;
    }
  }

  &__pattern-hex {
    position: relative;
    width: 100vw;
    right: 70vw;

    @include respond("tablet") {
      width: 100%;
      right: 50%;
    }

    @include respond("mobile") {
      width: 120%;
    }
  }

  &__gradient {
    position: absolute;
    top: -40vh;
    left: -$app-side-padding-desktop;

    @include respond("tablet") {
      left: -$app-side-padding-tablet;
      top: unset;
      bottom: -90vh;
    }

    @include respond("mobile") {
      left: -$app-side-padding-mobile;
    }
  }

  &__content {
    line-height: 1.6;
    width: 100%;
    margin-left: -31%;
    height: fit-content;
    margin-bottom: 300px;

    @include respond("tablet") {
      width: 100%;
      margin-left: 0;
      margin-top: 80px;
      margin-bottom: unset;
    }

    & > div:not(:last-of-type) {
      margin-bottom: 160px;

      @include respond("tablet") {
        margin-bottom: 80px;
      }
    }

    &__item {
      width: 60%;
      margin-left: 30%;
    }
  }

  &__title {
    font-size: 28px;
    margin-bottom: 30px;
    letter-spacing: 0.08em;

    @include respond("tablet") {
      margin-bottom: 27px;
      font-size: 20px;
    }
  }

  &__desc {
    margin-bottom: 20px;
    white-space: pre-line;
    font-size: 18px;
  }
}
