.header {
  padding: 60px 140px;
  position: relative;
  z-index: 100;
  display: flex;
  justify-content: space-between;

  @include respond('tablet') {
    padding: 60px 50px;
  }

  @include respond('mobile') {
    padding: 60px 32px;
    height: 25px;
    align-items: center;
  }

  &__logo {
    width: 300px;

    @include respond('tablet') {
      width: 250px;
    }

    @include respond('mobile') {
      width: 200px;
    }
  }

  a {
    text-decoration: none;
  }

  &__item {
    color: var(--white, #FFF);
    font-family: 'NotoSansRegular';
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.36px;
    box-sizing: border-box;

    display: flex;
    padding: 0px 8px 8px 8px;
    justify-content: center;
    align-items: center;
    gap: 10px;

    text-transform: uppercase;

    @include respond('tablet') {
      display: none;
    }

    &.active {
      font-family: 'NotoSansBold';
      font-weight: 700;
      border-bottom: 1px solid #fff;
    }
  }

  &__links {
    display: flex;
    gap: 16px;
  }

  .header__dropdown {
    position: relative;
  }

  .dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: -100px;
    min-width: 250px;
    background-color: #2A2A32;
    border: 1px solid #59595F;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
  }

  .header__dropdown:hover .dropdown-menu {
    display: block;
  }

  .dropdown-item {
    font-size: 14px;
    padding: 12px 20px 12px 16px;
    font-family: "Open Sans";
    color: #fff;
    text-transform: capitalize;
    white-space: nowrap;

    // Explicitly override inherited bold styles
    font-weight: 400 !important;

    &.active {
      font-family: "Open Sans" !important; /* Reset font family */
      font-weight: 400 !important; /* Explicitly set to normal weight */
      border-bottom: unset !important; /* Remove any borders */
    }
  }

  .dropdown-item:hover {
    background-color: #59595F;
  }
}
