.header {
  padding: 60px 140px; 
  position: relative;
  z-index: 100;
  display: flex;
  justify-content: space-between;

  @include respond('tablet') {
    padding: 60px 50px;
  }

  @include respond('mobile') {
    padding: 60px 32px;
    height: 25px;
    align-items: center;
  }

  &__logo {
    width: 300px;
    
    @include respond('tablet') {
      width: 250px;
    }

    @include respond('mobile') {
      width: 200px;
    }
  }

  a {
    text-decoration: none;
  }

  &__item {
    color: var(--white, #FFF);
    font-family: 'NotoSansRegular';
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.36px;
    box-sizing: border-box;

    display: flex;
    padding: 0px 8px 8px 8px;
    justify-content: center;
    align-items: center;
    gap: 10px;

    text-transform: uppercase;

    @include respond('tablet') {
      display: none;
    }

    &.active {
      font-family: 'NotoSansBold';
      font-weight: 700;
      border-bottom: 1px solid #fff;
    }
  }

  &__links {
    display: flex;
    gap: 16px;
  }
}
