.header {
  padding: 60px 0; 
  position: relative;
  z-index: 100;
  display: flex;
  justify-content: space-between;

  &__logo {
    width: 300px;
    
    @include respond('tablet') {
      width: 250px;
    }

    @include respond('mobile') {
      width: 200px;
    }
  }

  a {
    text-decoration: none;
  }

  &__item {
    color: var(--white, #FFF);
    font-family: 'NotoSansLight';
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    @include respond('mobile') {
      display: none;
    }
  }
}
