.cf-button {
  color: var(--Suface-primary, var(--Suface-primary, #12121b));
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;

  border-radius: 8px;
  border: 1px solid var(--Primary, #94d5db);
  background: var(
    --CF-Yellow-Gradient,
    linear-gradient(
      145deg,
      #fff625 -13.26%,
      #cbea7f 15.7%,
      #a7e2be 55.24%,
      #98ded9 93.66%
    )
  );
  /* Shadow/xs */
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
}
