.news {
  @include sectionBorder();
  z-index: 2;
  margin-bottom: 150px;

  position: relative;

  &__items {
    display: flex;
    column-gap: 16px;
    row-gap: 24px;
    flex-wrap: wrap;
    line-height: 1.6;
    margin-top: 104px;
    margin-bottom: 50px;

    & .news__content__item {
      max-width: 340px;
      display: flex;
      flex-direction: column;
      gap: 16px;
    }

    & > p {
      margin-bottom: 20px;
    }

    @include respond("tablet") {
      width: 100%;
      margin-left: 0;
      margin-top: 80px;
      margin-bottom: 150px;
    }

    & .image {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 0px;

      img {
        max-width: 340px;
        display: block;
      }

      .credits {
        display: flex;
        align-items: center;
        align-content: center;
        margin-top: -34px;
        padding-left: 8px;
        line-height: 24px;
        background-color: rgba(0, 0, 0, 0.4);
        width: 100%;

        font-family: "Noto Sans", sans-serif;
        font-size: 12px;
        color: white;
        text-shadow: 0px 0px 7px rgba(0, 0, 0, 0.8);
        font-style: normal;
        font-weight: 500;
        letter-spacing: -0.12px;
      }
    }

    & .date {
      font-family: "Noto Sans", sans-serif;
      font-weight: 500;
      font-size: 16px;
      color: #ffffff99;
    }

    & .description {
      font-size: 18px;
    }

    & .link {
      font-size: 18px;
      font-family: Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
        "Helvetica Neue", sans-serif;
    }

    a {
      color: #60878e;

      :visited {
        color: #8cdfd9;
      }
    }
  }

  &__pattern-wave {
    position: relative;
    width: 200%;
    right: 30vw;
    transform: rotate(-10deg);
  }
}
