.news {
  @include sectionBorder();
  z-index: 2;
  margin-bottom: 150px;

  position: relative;

  &__items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 32px;
    row-gap: 24px;
    flex-wrap: wrap;
    line-height: 1.6;
    margin-top: 104px;
    margin-bottom: 50px;

    @include respond("tablet") {
      grid-template-columns: 1fr;
    }

    & .news__content__item {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 16px;
    }

    & > p {
      margin-bottom: 20px;
    }

    @include respond("tablet") {
      width: 100%;
      margin-left: 0;
      margin-top: 80px;
      margin-bottom: 150px;
    }

    & .image {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 0px;

      a {
        width: 100%;
      }

      img {
        width: 100%;
        object-fit: fill;
        display: block;
      }

      .credits {
        position: absolute;
        bottom: 0px;

        display: flex;
        align-items: center;
        align-content: center;
        margin-top: -34px;
        padding-left: 8px;
        line-height: 24px;
        background-color: rgba(0, 0, 0, 0.4);
        width: 100%;

        font-family: "Noto Sans", sans-serif;
        font-size: 12px;
        color: white;
        text-shadow: 0px 0px 7px rgba(0, 0, 0, 0.8);
        font-style: normal;
        font-weight: 500;
        letter-spacing: -0.12px;
      }
    }

    & .date {
      font-family: "Noto Sans", sans-serif;
      font-weight: 500;
      font-size: 16px;
      color: #ffffff99;
    }

    & .description {
      font-size: 16px;
      line-height: 20.8px;
    }

    & .link {
      font-size: 16px;
      font-family: Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
        "Helvetica Neue", sans-serif;

      a {
        color: #8cdfd9;
        font-weight: 500;
        line-height: 22px;
      }
    }

    a {
      color: #fff;

      :visited {
        color: #60878e;
      }
    }
  }
}
