.app-title {
  margin: 0;
  background: linear-gradient(94.64deg, #FFF625 -41.95%, #98DED9 54.89%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  line-height: 1.2;
}