.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 60px;
  position: relative;
  z-index: 9;
  color: white;

  &__description {
    margin-right: 80px;

    color: #ffffff;
    padding-top: 12px;
    padding-bottom: 16px;
    font-family: "NotoSansLight";
    font-size: 14px;
    font-weight: 300;
    line-height: 27px;
    text-align: left;
  }

  &__copyright {
    color: #9e9e9e;
    font-family: "NotoSansRegular";
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-align: left;

    &__mobile {
      display: none;
    }
  }

  &__email {
    font-family: "WorkSans";
    color: #ffffff;
    font-size: 14px;
    font-weight: 500;
    line-height: 27px;
    letter-spacing: 0.02em;
    text-align: right;
  }

  &__links {
    display: flex;
    gap: 25px;
    justify-content: flex-end;
    padding-bottom: 22.5px;

    a {
      all: unset;
      cursor: pointer;
    }

    .social-icon {
      width: 25px;
      height: 25px;

      svg: {
        path: {
          fill: white;
        }
      }
    }
  }

  &__menu {
    display: flex;
    justify-content: space-around;

    &__row {
      display: flex;
      flex-direction: column;
      gap: 14px;
      margin-right: 80px;
    }

    a {
      text-decoration: none;
    }

    &__item {
      font-family: Open Sans;
      font-size: 14px;
      font-weight: 400;
      line-height: 20px;
      letter-spacing: 0em;
      text-align: left;
      color: #fff;
    }
  }

  @include respond("tablet") {
    flex-direction: column;
    gap: 24px;
    margin-top: 150px;

    &__left,
    &__right {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    &__links {
      padding-top: 10px;
    }

    &__description {
      margin: 0;
      color: #ffffff;
      font-size: 14px;
      line-height: 21px;
      text-align: center;
    }

    &__copyright {
      display: none;

      &__mobile {
        display: flex;
        color: #9e9e9e;
        font-family: "NotoSansRegular";
        font-size: 14px;
        font-weight: 400;
        line-height: 21px;
        letter-spacing: 0.02em;
        text-align: left;
      }
    }

    &__menu {
      gap: 80px;

      &__row {
        margin: 0;
      }

      &__item {
        text-align: center;
      }
    }
  }

  @include respond("mobile") {
    &__menu {
      flex-direction: column;
      gap: 16px;

      &__row {
        gap: 16px;
      }
    }
  }
}
